.random_img {
  height: 150px !important;
  width: 150px !important;
  border-radius: 8px !important;
}

.custom_search {
  width: 400px !important;
}

.custom_name {
  text-transform: capitalize !important;
}

.grid_item {
  min-width: 120px;
}
